section.left-sidebar
  .icons
    .icons_fb FB
    .icons_tw TW
    .icons_sk SK
  ul.list
    li
      a(href="#") О компании
    li
      a(href="#") О проблемах
    li
      a(href="#") Каталог
    li
      a(href="#") Где купить
    li
      a(href="#") Вопрос-ответ
    li
      a(href="#") On-line тест
    li
      a(href="#") Контакты