section.left-sidebar
  .icons
    a(href="#")
      <i class="icon-facebook"></i>
    a(href="#")
      <i class="icon-twitter"></i>
    a(href="#")
      <i class="icon-skype"></i>
  ul.left-sidebar__navigation
    li
      a(href="#") О компании
    li
      a(href="#") О проблемах
    li
      a(href="#") Каталог
    li
      a(href="#") Где купить
    li
      a(href="#") Вопрос-ответ
    li
      a(href="#") On-line тест
    li
      a(href="#") Контакты
  .left-sidebar__contacts
    p.left-sidebar__hotline Горячая линия <br> по России
    p.left-sidebar__phone 8-800-000-00-00