section.left-sidebar
  .icons
    a(href="#")
      <i class="icon-facebook"></i>
    a(href="#")
      <i class="icon-twitter"></i>
    a(href="#")
      <i class="icon-skype"></i>
  ul.left-sidebar__navigation
    li
      a(href="#about") О компании
    li
      a(href="#problems") О проблемах
    li
      a(href="#") Каталог
    li
      a(href="#where-to-buy") Где купить
    li
      a(href="#") Вопрос-ответ
    li
      a(href="#online-test") On-line тест
    li
      a(href="#contacts") Контакты
  .left-sidebar__contacts
    p.left-sidebar__hotline Горячая линия <br> по России
    p.left-sidebar__phone 8-800-000-00-00