section.main-section
  section.header
    .header__img
      img(src="../img/BAUSCH.png", alt="BAUSCH+LOMB")
      img(src="../img/VALEANT.png", alt="BAUSCH+LOMB")
    .header__question Задать вопрос производителю
  
  section.eyes
    .blue-eye
      div(class="eyes__text") Защита глаз <br> при интенсивных нагрузках
      .blue-eye__weakness Усталось
      img(class="eye blue-eye__non-active" src="../img/blue_eye_usually.png", alt="")
      img(class="blue-eye__active" src="../img/blue_eye_active.png", alt="")
      img(class="eyes__lupein-baby" src="../img/lutein_baby2.png", alt="Люпеин детский")
      img(class="eyes__lupein-adult" src="../img/lutein_eye2.png", alt="Люпеин")
      a(href="#").eyes__complex Лютеин комплекс

    .red-eye
      div(class="eyes__text") Укрепление сосудов <br> глаз
      img(class="eye red-eye__eye" src="../img/red_eye.png", alt="")
      img(class="eyes__lupein-adult eyes__lupein-adult_left20px" src="../img/lutein_eye2.png", alt="Люпеин")
      a(href="#" class="eyes__complex eyes__complex_left50px") Лютеин комплекс

    .green-eye
      div(class="eyes__text") Защита здорового зрения <br> на долгие годы
      img(class="eye green-eye__eye" src="../img/green_eye.png", alt="")
      img(class="eyes__lupein-baby" src="../img/lutein_baby2.png", alt="Люпеин детский")
      img(class="eyes__lupein-adult" src="../img/lutein_eye2.png", alt="Люпеин")
      a(href="#").eyes__complex Лютеин комплекс

    .yellow-eye
      div(class="eyes__text") снижение риска развития <br> возрастных изменений глаз
      img(class="eye green-eye__eye" src="../img/yellow_eye.png", alt="")
      img(class="eyes__lupein-baby" src="../img/lutein_baby2.png", alt="Люпеин детский")
      img(class="eyes__lupein-adult" src="../img/lutein_eye2.png", alt="Люпеин")
      a(href="#").eyes__complex Лютеин комплекс

  section.bad-vision
    .bad-vision__text
      h1.h1 В чем причина ухудшения зрения?
      p Любой свет, особенно интенсивный искусственный, повреждает глаза. Световые лучи, прохождя сквозь глаз, фокусируются на сетчатке в области желтого пятна - особой области, которая отвечает за максимальную остроту зрения
    .bad-vision__img
      img(src="../img/big_eye.png", alt="")
  
  section.risk-groups
    h1(class="h1 risk-groups__h1") Группы риска:
    .risk-groups__img
      img(src="../img/man.png", alt="")
    .risk-groups__text
      h3 Школьники и студенты
      p В последнее десятилетие врачи отмечают печальную тенденцию: все чаще у детей школьного возраста выявляются болезни органов зрения. Сложный оптический прибор, идеально приспосабливающийся к изменчивым условиям окружающей среды, глаз оказался не подготовленным к современным реалиям.
      a(class="button risk-groups__button" href="#") Подробнее
    .risk-groups__list
      .risk-groups__navigation
        a(href="#").risk-groups__link Работающие за компьютером
        a(href="#").risk-groups__link Школьники и студенты
        a(href="#").risk-groups__link Автолюбители
        a(href="#").risk-groups__link Люди с повышенными зрительными нагрузками
        a(href="#").risk-groups__link Туристы

  section.other
    .online-test
      p On-line тест
      p Мы предллагаем пройти небольшой тест, который поможет легко и комфортно проверить <b>остроту, контрастность</b> и <b>цветовосприятие</b> вашего зрения
      br
      a(href="#" class="button other__button button__blue") Пройти тест
      .online-test__footer
        img(src="../img/checkbox.png", alt="")
        p Если по результататм теста Вы отметите ухудшение зрения, Вам следует обратиться к офтальмологу за дополнительной консультацией
    .where-to-buy
      p Где купить
      p Препараты можно приобрести в аптеках по всей России, а так же в интернет аптеках
      a(href="#" class="button other__button button__white") Подробнее

  section.footer
    .footer__warning имеются противопоказания.перед применением ознакомьтесь <br> с инструкцией и проконсультируйтесь со специалистом
    .footer__info
      .footer__img
        img(src="../img/VALEANT_footer.png", alt="VALEANT")
      .footer__contacts ООО «ВАЛЕАНТ», 115162, г. Москва, ул. Шаболовка, д.31, стр.5 <br> Тел./Факс: +7 495 510-2879 www.valeant.com
      .footer__logo
        div
          img(src="../img/ITSOFT.png", alt="")
        span.footer__text <u>Создание сайта.</u> <br> Веб-студия <em><b>itsoft</b></em>