section.main-section
  section.header
    .header__img
      img(src="../img/BAUSCH.png", alt="BAUSCH+LOMB")
      img(src="../img/VALEANT.png", alt="BAUSCH+LOMB")
    .header__question Задать вопрос производителю
  
  section.eyes
    .blue-eye
      div(class="eyes__text") Защита глаз <br> при интенсивных нагрузках
      img(class="eye blue-eye__non-active" src="../img/blue_eye_usually.png", alt="")
      img(class="blue-eye__active" src="../img/blue_eye_active.png", alt="")
      img(class="eyes__lupein-baby" src="../img/lutein_baby2.png", alt="Люпеин детский")
      img(class="eyes__lupein-adult" src="../img/lutein_eye2.png", alt="Люпеин")

    .red-eye
      div(class="eyes__text") Укрепление сосудов <br> глаз
      img(class="eye red-eye__eye" src="../img/red_eye.png", alt="")
      img(class="eyes__lupein-adult eyes__lupein-adult_left20px" src="../img/lutein_eye2.png", alt="Люпеин")

    .green-eye
      div(class="eyes__text") Защита здорового зрения <br> на долгие годы
      img(class="eye green-eye__eye" src="../img/green_eye.png", alt="")
      img(class="eyes__lupein-baby" src="../img/lutein_baby2.png", alt="Люпеин детский")
      img(class="eyes__lupein-adult" src="../img/lutein_eye2.png", alt="Люпеин")

    .yellow-eye
      div(class="eyes__text") снижение риска развития <br> возрастных изменений глаз
      img(class="eye green-eye__eye" src="../img/yellow_eye.png", alt="")
      img(class="eyes__lupein-baby" src="../img/lutein_baby2.png", alt="Люпеин детский")
      img(class="eyes__lupein-adult" src="../img/lutein_eye2.png", alt="Люпеин")

  section.bad-vision
    .bad-vision__text
      h1.h1 В чем причина ухудшения зрения?
      p Любой свет, особенно интенсивный искусственный, повреждает глаза. Световые лучи, прохождя сквозь глаз, фокусируются на сетчатке в области желтого пятна - особой области, которая отвечает за максимальную остроту зрения
    .bad-vision__img
      img(src="../img/big_eye.png", alt="")
  
  section.risk-groups
    h1(class="h1 risk-groups__h1") Группы риска:
    .risk-groups__img
      img(src="../img/man.png", alt="")
    .risk-groups__text
      h3 Школьники и студенты
      p В последнее десятилетие врачи отмечают печальную тенденцию: все чаще у детей школьного возраста выявляются болезни органов зрения. Сложный оптический прибор, идеально приспосабливающийся к изменчивым условиям окружающей среды, глаз оказался не подготовленным к современным реалиям.
      a(class="button risk-groups__button" href="#") Подробнее
    .risk-groups__list
      ul.risk-groups__navigation
        li
          a(href="#") Работающие за компьютером
        li
          a(href="#") Школьники и студенты
        li
          a(href="#") Автолюбители
        li
          a(href="#") Люди с повышенными зрительными нагрузками
        li
          a(href="#") Туристы