section.main-section
  section.header
    .header__img
      img(src="../img/BAUSCH.png", alt="BAUSCH+LOMB")
      img(src="../img/VALEANT.png", alt="BAUSCH+LOMB")
    .header__question Задать вопрос производителю
  
  section.eyes
    .blue-eye
      div(eyes__text) Защита глаз при интенсивных нагрузках
      img(class="eye blue-eye__non-active" src="../img/blue_eye_usually.png", alt="")
      img(class="eye blue-eye__active" src="../img/blue_eye_active.png", alt="")
      img(class="eyes__lupein-baby" src="../img/lutein_baby2.png", alt="Люпеин детский")
      img(class="eyes__lupein-adult" src="../img/lutein_eye2.png", alt="Люпеин")
      a(class="blue-eye__link" href="#") Подробнее

    .red-eye
      div(eyes__text) Укрепление сосудов глаз
      img(class="eye red-eye__eye" src="../img/red_eye.png", alt="")
      img(class="eyes__lupein-adult eyes__lupein-adult_left25px" src="../img/lutein_eye2.png", alt="Люпеин")

    .green-eye
      div(eyes__text) Защита здорового зрения на долгие годы
      img(class="eye green-eye__eye" src="../img/green_eye.png", alt="")
      img(class="eyes__lupein-baby" src="../img/lutein_baby2.png", alt="Люпеин детский")
      img(class="eyes__lupein-adult" src="../img/lutein_eye2.png", alt="Люпеин")

    .yellow-eye
      div(eyes__text) снижение риска развития возрастных изменений глаз
      img(class="eye green-eye__eye" src="../img/yellow_eye.png", alt="")
      img(class="eyes__lupein-baby" src="../img/lutein_baby2.png", alt="Люпеин детский")
      img(class="eyes__lupein-adult" src="../img/lutein_eye2.png", alt="Люпеин")