@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
li {
  text-decoration: none;
  color: #fff;
}

.h1 {
  font-family: 'Open sans', sans-serif;
  font-weight: bold;
  font-size: 45px;
}

.main-page {
  display: flex;
}

.left-sidebar {
  width: 210px;
  background: #005397;
  flex-grow: 1;
}

.main-section {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.eyes {
  display: flex;
  flex-wrap: wrap;

  &__text {
    position: absolute;
    top: 40px;
    left: 25px;
  }

  &__lupein-baby {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  &__lupein-adult {
    cursor: pointer;
    position: absolute;
    display: none;
    left: 140px;
    bottom: 20px;

    &:hover .eyes__complex {
      display: none;
    }

    &_left20px {
      left: 20px;
    }
  }

  &__complex {
    font-family: 'Open sans',sans-serif;
    font-size: 13px;
    color: #005494;
    position: absolute;
    text-transform: none;
    display: block;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    background: #fff;
    left: 170px;
    bottom: 25px;
    text-align: center;
    padding-top: 10px;

    &_left50px {
      left: 50px;
    }
  }
}

.eye {
  display: block;
  margin: auto;
  align-items: center;
  left: 300px;
  padding-top: 140px;
}

.blue-eye,
.red-eye,
.green-eye,
.yellow-eye {
  position: relative;
  font-family: 'Open sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  width: 50%;
  max-height: 415px;
  min-height: 400px;
}

.blue-eye {
  background: #0083B0;

  &:hover .blue-eye__active,
  &:hover .eyes__lupein-baby,
  &:hover .eyes__lupein-adult,
  &:hover .blue-eye__weakness {
    display: block;
  }

  &:hover .blue-eye__non-active,
  &:hover .eyes__text {
    display: none;
  }

  &__weakness {
    display: none;
    font-family: 'Open sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    position: absolute;
    text-transform: none;
    top: 40px;
    right: 70px;
    color: #93C2D8;
  }

  &__active {
    display: block;
    margin: auto;
    padding-top: 20px;
    display: none;
  }

}

.red-eye {
  background: #EB5364;

  &:hover .eyes__lupein-adult {
    display: block;
  }

  &:hover .eyes__text {
    display: none;
  }
}

.green-eye {
  background: #00B770;

  &:hover .eyes__lupein-adult,
  &:hover .eyes__lupein-baby {
    display: block;
  }

  &:hover .eyes__text {
    display: none;
  }
}

.yellow-eye {
  background: #FFB131;

  &:hover .eyes__lupein-adult,
  &:hover .eyes__lupein-baby {
    display: block;
  }

  &:hover .eyes__text {
    display: none;
  }
}


.bad-vision {
  background: #CAE5F4;
  height: 610px;
  display: flex;
}

.risk-groups {
  color: #fff;
  position: relative;
  background-image: url('../img/background1.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 610px;
  overflow: hidden;

  &__h1 {
    width: 100%;
    text-align: center;
  }

  &__img {
    position: absolute;
    bottom: -60px;
    left: 10%;
  }

  &__text {
    width: 470px;
    position: absolute;
    top: 175px;
    left: 50%;
  }

  &__list {
    position: absolute;
    bottom: 45px;
    left: 35%;
  }

  &__navigation {
    font-family: 'Open sans', sans-serif;
    font-size: 11px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link {
    padding: 7px 15px;
    background: #fff;
    color: #005494;
    border-radius: 22px;
    margin-bottom: 10px;
    margin-right: 5px;

    &:hover {
      background: #005494;
      color: #fff;
    }

    &:nth-child(2) {
      background: #005494;
      color: #fff;
    }
  }
}